<div class="photo-editor" (pan)="handleGestures($event)" (panstart)="handleGestures($event)" (panend)="handleGestures($event)"
     (pinch)="handleGestures($event)" (pinchstart)="handleGestures($event)" (pinchend)="handleGestures($event)"
     (rotate)="handleGestures($event)" (rotatestart)="handleGestures($event)" (rotateend)="handleGestures($event)">
  <img [src]="image.src" alt="" *ngFor="let image of editableImages"
       (mousedown)="$event.preventDefault()"
       [ngStyle]="{left: image.x + 'px', top: image.y + 'px', transform: 'scale(' + image.scale + ') rotate(' + image.rotate + 'deg)' }">
</div>
<div>
  <select [(ngModel)]="selectedImageIndex">
    <option *ngFor="let image of editableImages; let optionIndex = index;"
            [value]="optionIndex">{{image.title}}</option>
  </select>
</div>
<br />
<br />
<div>
  <button (mousedown)="startAction('moveUp')" (mouseup)="stopAction()">up</button>
  <button (mousedown)="startAction('moveDown')" (mouseup)="stopAction()">down</button>
  <button (mousedown)="startAction('moveLeft')" (mouseup)="stopAction()">left</button>
  <button (mousedown)="startAction('moveRight')" (mouseup)="stopAction()">right</button>
</div>
<div>
  <button (mousedown)="startAction('zoomIn')" (mouseup)="stopAction()">Zoom in</button>
  <button (mousedown)="startAction('zoomOut')" (mouseup)="stopAction()">Zoom out</button>
</div>
<div>
  <button (mousedown)="startAction('rotateLeft')" (mouseup)="stopAction()">Rotate left</button>
  <button (mousedown)="startAction('rotateRight')" (mouseup)="stopAction()">Rotate right</button>
</div>


