<div class="photo-editor">
  <img src="/assets/dummy_img.png" alt=""
       [ngStyle]="{left: x + 'px', top: y + 'px', transform: 'scale(' + scale + ') rotate(' + rotate + 'deg)' }"
       (pan)="pan($event)" (panstart)="togglePan($event, true)" (panend)="togglePan($event, false)">
</div>
<div>
  <button (mousedown)="startAction('moveUp')" (mouseup)="stopAction()">up</button>
  <button (mousedown)="startAction('moveDown')" (mouseup)="stopAction()">down</button>
  <button (mousedown)="startAction('moveLeft')" (mouseup)="stopAction()">left</button>
  <button (mousedown)="startAction('moveRight')" (mouseup)="stopAction()">right</button>
</div>
<div>
  <button (mousedown)="startAction('zoomIn')" (mouseup)="stopAction()">Zoom in</button>
  <button (mousedown)="startAction('zoomOut')" (mouseup)="stopAction()">Zoom out</button>
</div>
<div>
  <button (mousedown)="startAction('rotateLeft')" (mouseup)="stopAction()">Rotate left</button>
  <button (mousedown)="startAction('rotateRight')" (mouseup)="stopAction()">Rotate right</button>
</div>


